<img src="https://media.giphy.com/media/3ohhwerD13QMADpFlu/giphy.gif" class="float-left" id="top-img">
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <div class="card-body">
          <br>
          <h1 style="text-align: center; font-family: 'Gloria Hallelujah', cursive;"> {{msg}} </h1>
          <br>
        
          <h4>Cooking this week:</h4>
          <h6 style="text-align: right">Delete Recipe:</h6>

          {{!-- <h1>{{msg}}</h1> --}}
          <form class="clearfix mb-4">
            <div class="form-group">
              <label for="recipe-text">Add a new recipe</label>
              <input type="text" id="recipe-text" class="form-control" aria-describedby="recipe-text" placeholder="Burger">
            </div>
            <button id="submit" class="btn btn-primary float-right">Submit</button>
          </form>
          <h3>Cooking this week:</h3>
          <h6 style="text-align: right">Delete Recipe</h6>

          <ul id="recipe-list" class="list-group">
            {{#each recipes}}
            <li data-id="{{this.id}}"  style="padding:0rem 1.25rem; margin-bottom: .25rem;" class="list-group-item">
              <a href="recipe/{{this.id}}">{{this.recipeName}}</a>
              <button class="btn btn-danger float-right delete">ｘ</button>
            </li>
            {{/each}}
          </ul>
          <br>
          <br>
          <br>
        </div>
       <a style="float: right" href="/shoppinglist">To Shopping List &#8594;</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
			  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
			  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
			  crossorigin="anonymous"></script>
<script src="/js/app.js"></script>