<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">What's Cookin'</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/shoppinglist">Shopping List</a>
          </li>
    </div>
  </nav>
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h2 class="card-title" style="text-align: center"><strong> {{recipe.recipeName}}</strong></h2>
          <p>
            <span id="recpID">Recipe ID: {{recipe.id}}</span></p>
            <br>
            <br>
          <p>
            <form class="clearfix mb-4">
              <div class="form-group">
                <label for="recipe-text"><strong>Add an ingredient</strong>:</label>
                <input type="text" id="ingredient-text" class="form-control" aria-describedby="ingredient-text"
                  placeholder="Beef">
              </div>
              <button id="submit-ingredient" class="btn btn-primary float-right">Submit</button>
            </form>

          <p> <strong>Ingredients:</strong> <strong style="float: right;">Add to Shopping List?&nbsp; </strong></p>
          <ul id="ingredient-list" class="list-group">
            {{#each recipe.Ingredients}}
            <li class="list-group-item" style="padding:0rem 1.25rem; margin-bottom: .25rem;">{{this.ingredient}}
              {{!-- <p></p> --}}
              {{#if this.onList}}
                <button data-id="{{this.id}}" data-state="{{this.onList}}" class="btn btn-success float-right onList"><i class="far fa-check-square"></i></button>
              {{else}}
                <button data-id="{{this.id}}" data-state="{{this.onList}}" class="btn btn-secondary float-right onList"><i class="far fa-square"></i></button>
              {{/if}}
            </li>
            {{/each}}
          </ul>
          <br>

          <a href="/">← Back To Home</a>   <a style="float: right" href="/shoppinglist">To Shopping List &#8594;</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
<script src="/js/app.js"></script>