<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title"><strong>Shopping List</strong></h5>  
        
          <p> <strong>Ingredients:</strong> <strong style="float: right;">Remove:&nbsp; </strong></p>
           
            <ul id="ingredient-list" class="list-group">
              {{#each shoppingList}}
              <li class="list-group-item" style="padding:0rem 1.25rem; margin-bottom: .25rem;">{{this.ingredient}}
                {{#if this.onList}}
                <button data-id="{{this.id}}" data-state="{{this.onList}}" class="btn btn-success float-right onList"><i class="far fa-check-square"></i></button>
              {{else}}
                <button data-id="{{this.id}}" data-state="{{this.onList}}" class="btn btn-secondary float-right onList"><i class="far fa-square"></i></button>
              {{/if}}
              </li>
              {{/each}}
            </ul>
          <br>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>